/* Style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2; /* Couleur de fond*/
}

header {
    background-color: #7e506e; /* Couleur de l'en-tête  */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px; /* Espacement amélioré pour les éléments de la liste */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2, h3 {
    color: #7e506e; /* Couleur des titres  */
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #7e506e; /* Couleur du pied de page  */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #d147a3; /* Couleur des labels plus féminine */
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background: #7e506e; /* Couleur du bouton plus féminine */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button[type="submit"]:hover {
    background: #7e506e; /* Couleur de survol du bouton */
}

/* Styles pour Flexbox */

header nav ul {
    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section article {
    flex: 0 0 48%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Responsive 
